# CLion 빌드 결과물
cmake-build-debug/
cmake-build-release/
.idea/

# 컴파일된 바이너리
ex1_zoom_out
ex2_zoom_in
ex3_avg_filter
ex4_sobel
ex5_translation
ex6_rotation
ex7_histogram
main

# 출력 이미지 (선택: 올리고 싶으면 이 줄들 삭제)
output_*.bmp

# macOS
.DS_Store
